body {
    background-color: rgb(17, 129, 167)

}
h1 {
    background-color: white;
    color: orange;
    border-radius: 15px;
    margin: 20%;
    text-align: center;

}
.data {
    color: white;
    text-align: center;
    background-color: black;
    padding: 10px;
    border-color: white;
    border-radius: 5px;
    margin: 10%;
}